body{
    display:flex;
    background-color: #fff;
}
.table{
    display: flex;
    flex-flow: row wrap;
    border-left: solid 1px table-border;
    transition: 0.5rem;
    background-color: #1c87c9;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
  
}

table.list td{
    text-align: center;
}
td, th {

    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: skyblue;
}
input[type=text], input[type=number] {
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 0.5rem 1rem;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-content {
    margin: 2rem auto;
    border: 1px solid #999;
    width: 60%;
  }
  form {
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #f5f5f5;
    background: #eee;
  }
  .create-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #1c87c9;
    font-size: 16px;
    font-weight: 400;
    color: #fff;

  }
  button.button {
    display: inline-block;
 }
  button.button:hover {
    border-bottom: #a99567 1px solid;
    color: #a99567;
  }
  
  
  
